# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Release/*
Debug/*

.pio
cmake-build-nodemcuv2
cmake-build-uno
cmake-build-debug
.idea
CMakeLists.txt
CMakeListsPrivate.txt
cmake-*
